BODY {
  color: #020202;
  font-family: courier new, serif;
  text-align: center;
}

H1 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}
#table {
  margin-left: auto;
  margin-right: auto;
}

#table TR TD{
  border:1px solid #000000;
  background: #c7c7c7;
  width: 30px;
  height: 30px;
  text-align: center;
}

#table TR TD.clicked {
    background: #838383;
}

#table TR TD.mine {
    background: #FF0000;
}

BUTTON {
  margin: 12px;
}